div input {
    margin-bottom: 1em;
}

.sign {
    text-align: center;
    margin-top: 50px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.allItems{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 300px;
    margin-right: 300px;
}
h1 {
    font-family: "Arial Black", sans-serif;
    color: #1a82ae;
    display: inline-block;
    padding: 1em;
}