h1 {
    font-family: "Arial Black", sans-serif;
    color: #1a82ae;
    display: inline-block;
    padding: 1em;
}

img {
    float: right;
    padding: 0 1em 0 1em;
}

header {
    background-color: white;
    height: 10em;
}

#content-middle-of-height {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}