h1 {
    font-family: "Arial Black";
    color: #1a82ae;
    padding-left: 180px;
}

p {
    text-align: left;
}

img {
    alignment: left;
    padding-top: 50px;
}

.jumbotron {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px
}