/*Think about using Bootstrap font size*/
:root {
    --main-font-family: Arial, sans-serif;
}

body {
    font-family:var(--main-font-family);
}

.fakeimg {
    height: 200px;
    background: #aaa;
}

header, footer {
    margin-bottom: 0 !important
}